@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway&display=swap");
@import url(https://db.onlinewebfonts.com/c/26e7e4f0192537192e6bfa1d21dee7db?family=ProximaSoft-Thin);

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: 'Playfair Display', serif; */
  font-family: "ProximaSoft-Thin";
  background-color: #010002 ;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

button {
  padding: 0.5rem 1rem;
  font-size: 2rem;
}
