.container {
  margin: 50px 20px;
  padding: 50px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.text_container {
  color: black;
  display: flex;
  flex-direction: column;
  
}
.container h2 {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-self: center;
}

.container p {
  max-width: 400px;
  color: black;
  display: flex;
  justify-content: center;
  align-self: center;
}
